name: tone-maker

on:
  push:
  schedule:
    - cron: "*/5 * * * *"
    
jobs:
  job-with-ruby:
    runs-on: ubuntu-latest
    permissions:
     actions: write
     checks: write
     contents: write
     deployments: write
     issues: write
     packages: write
     pull-requests: write
     repository-projects: write
     security-events: write
     statuses: write
    steps:
      - uses: actions/checkout@v3
      - name: Move directory
        run: cd /home/runner/work/LiveCodingPortfolio/LiveCodingPortfolio
      - name: Update apt Package lists
        run: sudo apt update -y
      - name: Upgrade apt version
        run: sudo apt upgrade -y
      - name: Install Ruby
        run: sudo apt-get install ruby-full -y
      - name: Run Ruby
        run: ruby
      - name: Initialize loop
        run: echo "loop do" >> index.rb
      - name: Define octaves
        run: readonly ARRAY=(60 61 62 63 64 65 66 67 68 69 70 71)
      - name: Play one of defined octaves
        run: echo "  play "+${ARRAY[$(($RANDOM % ${#ARRAY[*]}))]} >> index.rb
      - name: End loop
        run: echo "end" >> index.rb
      - name: Pre-install LFS
        run: sudo apt-get install git-lfs
      - name: Install LFS
        run: git lfs install
      - name: Confirm LFS version
        run: git lfs --version
      - name: Enable LFS
        uses: actions/checkout@v3
        with:
          lfs: true
          clean: false
      - name: Reset commits
        run: git reset --hard
      - name: Register user email
        run: git config --global user.email "uho02741358@gmail.com"
      - name: Register user name
        run: git config --global user.name "Uchida16104"
      - name: Initialize Git
        run: git init
      - name: Register files
        run: git add .
      - name: Commit files
        run: git commit -m "Upload Zend framework 3 skeleton" -m "Use GitHub web GUI"
      - name: Update files
        uses: stefanzweifel/git-auto-commit-action@v4
      - name: Push files
        run: git push --force-with-lease origin master
